<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/itc_launcher_flashcards"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/itc_launcher_flashcards_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".ReviewCardsActivity"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Other activities -->
        <activity android:name=".bottomMenu.cardsTab.AddCardActivity" />
        <activity android:name=".bottomMenu.cardsTab.AddDeckActivity" />
        <activity android:name=".bottomMenu.cardsTab.EditDeckActivity" />

        <activity android:name=".bottomMenu.settingsTab.AboutUsActivity"/>
        <activity android:name=".bottomMenu.settingsTab.ContactUsActivity"/>
        <activity android:name=".bottomMenu.cardsTab.EditCardActivity"/>


    </application>
    

</manifest>