<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/itc_launcher_flashcards"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/itc_launcher_flashcards_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".bottomMenu.cardsTab.AddCardActivity" />
        <activity android:name=".bottomMenu.cardsTab.AddDeckActivity" />
        <activity android:name=".ReviewCardsActivity" />
        <activity android:name=".bottomMenu.settingsTab.AboutUsActivity"/>
        <activity android:name=".bottomMenu.settingsTab.ContactUsActivity"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>